.layout {
    flex: 1;
    border-right: 0.5px solid lightgray;
    min-height: 100vh;
    background-color: #009846;

    .top {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    hr {
        height: 0;
        border: 0.5px solid lightgray;
    }

    .center {
        padding-left: 0;
    }

    ul  {
        list-style: none;
        margin: 24px 30px;
        padding: 0;
    }

    li {
        display: flex;
        align-items: center;
        padding: 10px 0;
        cursor: pointer;

        &:hover {
            background-color: rgb(206, 206, 206);
            border-radius: 11px;
        }

        .icons {
            font-size: 29px;
        }

        span {
            font-size: 22px;
            font-weight: 510;
            margin-left: 11px;
            color: white;
        }
    }

    .bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;

        .colorOption {
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid;
            cursor: pointer;
            margin: 5px;

            &:nth-child(1) {
                background-color: whitesmoke;
            }

            &:nth-child(2) {
                background-color: rgb(8, 8, 8);
            }
        }
    }

    .link {
        color: white;
        text-decoration: none;
    }
    
}

.layoutIndex {
    width: 75%;
    padding: 2.5rem;
    background-color: white;
    height: 100vw;
    overflow: scroll;
}